body {
	background-image: url(../img/BG.jpg);
	text-align: center;
	background-size: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.top {
    width: 100%;
    position: absolute;
    color: #094a4a;
    text-align: right;
    font-size: 32px;
    top: 7%;
    line-height: 20px;
    right: 0%;
}

.login {
    background: rgba(0,0,0,0.5);
    width: 40%;
    text-align: center;
    padding: 40px 2%;
    border-radius: 2px;
    position: absolute;
    top: 26%;
    right: 5%;

}

.title {
	font-weight: 60%;
	font-size: 130%;
	color: #e4e4e4;
	margin-bottom: 10%;
}

.line {
	margin: 32px 1%;
	width: 92%;
	background: #ffffff;
	padding: 5px 2%;
}

.line input {
	border: none;
	padding: 0px 1%;
	margin: 1% 0px;
	background: none;
	width: 80%;
	font-size: 16px;
	line-height: 30px;
	outline: none;
	height:30px;
}

.line .smallImg {
	width: 26px;
	float: left;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 8px;
}

.logBut {
	background: #496461;
	padding: 14px 0px;
	border: none;
	color: #fff;
	font-size: 16px;
	width: 96%;
	margin-left: -9px;
	margin-top: 10px;
}

.logBut:hover {
	cursor: pointer;
}
